/* Estilos generales */
*{
  font-size: 62.5%;
  margin: 0;
  padding: 0;
 }

 /* Estilos del encabezado */
 .headerContent{
  background-color: rgb(202, 146, 236);
  display: flex;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: none;
  box-shadow: black 0 1px 15px 0px;
 }

 /* Estilos del logotipo */
 .logoContainer{
  display: flex;
  font-size: 4.4rem;
 }
 .logoLeft{
  color: white;
  background: #681282;
 }
 .logoRight{
  color: white;
  background: #f362b6;
 }

 /* Estilos del menú de navegación */
 .navListContainer{
  width: 45%;
 }
 .navList{
  display: flex;
  justify-content: space-between;
  list-style: none;
 }
 .navItem{
  font-size: 1.5rem;
  text-decoration: none;
  color: rgb(87, 87, 87);
 }
 .article{
  display: flex;
  width: 80%;
  height: 200px;
  color: rgb(87, 87, 87);
 }
 .articleText{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
 }
 .containerArticleImage{
  width: 100%;
  max-width: 350px;
  height: 100%;
 }
 .articleImage{
  width: 100%;
  height: 100%;
 }
 .articleTitle{
  font-size: 3.5rem;
 }
 .articleP{
  padding-left: 5%;
  padding-top: 25px;
  font-size: 1.7rem;
 }

 /* Estilos del contenido principal */
 .mainContent{
  display: flex;
  flex-direction: column;
  margin-top: 110px;
  align-items: center;
 }

 /* Estilos de las secciones */
 .divSection{
  display: flex;
  margin-top: 30px;
  flex-direction: row;
  width: 80%;
  height: 300px;
 }
 .sectionContent{
  width: 70%;
  margin-right: 2%;
  font-size: 3.5rem;
  color: rgb(87, 87, 87);
 }
 .sectionTitle{
  margin-top: 20px;
  margin-bottom: 20px;
 }
 .sectionP{
  font-size: 1.7rem;
 }

 /* Estilos del formulario de registro*/
 .asideContent {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  width: 60%; 
  margin: 0 auto; 
}

.asideContent h4 {
  margin-top: 0;
  font-size: 1.7rem;
}

.asideContent label {
  font-size: 1.5rem;
  display: block;
  margin-bottom: 5px;
}

.asideContent input[type="text"],
.asideContent input[type="email"],
.asideContent input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.asideContent button {
  background-color: violet; 
  color: white; 
  padding: 15px 30px; 
  border: none;
  border-radius: 5px; 
  cursor: pointer;
  font-size: 1.5rem;
}

.asideContent button:hover {
  background-color: #800080; 
}

/* Estilos del footer */
 footer{
  display: flex;
  margin-top: 75px;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  background-color: rgb(185, 38, 190);
  box-shadow: black 0 1px 15px 0px;
 }
 .footerContent{
  font-size: 2.2rem;
  color: white;
 }
 .footerText{
  margin-top: 15px;
 }
 